doesnt-exist {
    background-color: rgba(104, 160, 192, 0.527) !important;
}


.horizontal {
    display: flex;
    gap: 2.5324900081702em;
    flex-wrap: wrap
}




.searchinput {
    min-width: 5.2em;
    max-width: 16.2543em;
}